@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:host {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
  color: #09032e;
  background-color: #ffffff;
  position: sticky; 
  top: 0;          
  left: 0;         
  width: 100vw;     
  z-index: 1000;   
}

.header {
  display: flex;
  justify-content: flex-end;
  border-bottom: 0.1cap solid #09032e;
  width: 100%;
  background-color: #ffffff;

 
}



mat-toolbar {
  background-color: #ffffff;
  width: 95%;
  justify-content: right;
  gap: 20px;
}
